﻿body {
    background-color: lightblue;
}

table tr:nth-child(odd) td {
    background-color: lightgreen
}

table tr:nth-child(even) td {
    background-color: greenyellow
}

table td {
    color: purple;
    font-weight: bold;
}
