﻿body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.topnav {
    overflow: hidden;
    background-color: #333;
}

    
    .topnav a {
        float: left;
        color:aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav  a:hover {
            background-color: orange
        }

