﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fuel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/CustomStyleForPage.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
</head>
<body>
        <div class="topnav" >
            <a asp-area="" asp-controller="Vehicle" asp-action="Index">Transport Aid</a>
            <a asp-area="" asp-controller="Vehicle" asp-action="ViewAllVehicles">Vehicles</a>
            <a asp-area="" asp-controller="FuelCommands" asp-action="ViewAllFuelings">Fuel</a>
        </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Fuel - Made by Roke
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
