﻿@using Fuel.Models
@model BasicLibrary.Models.Fuel
@inject Fuel.Models.DropDownListVehicles vehicleService

@{
    ViewData["Title"] = "CreateFuelings";
}
 
<h4 style="color:purple; margin-top:50px; font-weight:bold">Create a new Fuel Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFuelings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistrationNr" class="control-label"></label>
                @Html.DropDownList("RegistrationNr",
                        new SelectList(vehicleService.GetVechiclesAsync()),
                        "Select Reg Nr.",
                        new { @class = "form-control" })
                <span asp-validation-for="RegistrationNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfFueling" class="control-label"></label>
                <input asp-for="DateOfFueling" class="form-control" />
                <span asp-validation-for="DateOfFueling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" style="background-color:greenyellow" /> |
                @Html.ActionLink("Back to Fuels", "ViewAllFuelings", "FuelCommands", new { }, new { @class = "btn btn-outline-primary", @style = "background-color:greenyellow" })
            </div>
        </form>
    </div>
</div>



