﻿@model BasicLibrary.Models.Fuel

@{
    ViewData["Title"] = "FuelDelete";
}

<h4 style="color:purple; margin-top:50px; font-weight:bold" >Are you sure you want to delete this record?</h4>
<hr />
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFueling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFueling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="FuelDelete">
        <input type="submit" value="Delete" class="btn btn-outline-primary" style="background-color:red" /> |
        @Html.ActionLink("Back to Fuels", "ViewAllFuelings", "FuelCommands", new { }, new { @class = "btn btn-outline-primary", @style = "background-color:greenyellow" })
    </form>
</div>
