﻿@model BasicLibrary.Models.Fuel

@{
    ViewData["Title"] = "FuelDetails";
}

<h4 style="color:purple; margin-top:50px; font-weight:bold">Fuel Record Details</h4>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFueling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFueling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "FuelEdit", "FuelCommands", new { id = Model.Id }, new { @class = "btn btn-outline-primary", @style = "background-color:greenyellow" }) |
    @Html.ActionLink("Back to Fuels", "ViewAllFuelings", "FuelCommands", new { }, new { @class = "btn btn-outline-primary", @style = "background-color:greenyellow" })
</div>
