﻿
@model IEnumerable<BasicLibrary.Models.Fuel>

@{
    ViewData["Title"] = "ViewAllFuelings";
}

    <div class="input-w" style="margin-top:40px">
        <form asp-controller="FuelCommands" asp-action="ViewAllFuelings">
            <p>
                <input type="button" class="btn btn-outline-primary" style="background-color:orange; margin-right:20px;" value="Create New" onclick="location.href='@Url.Action("CreateFuelings", "FuelCommands")'" />
                Reg. No. <input type="text" name="SearchString">
                <input type="submit" value="Filter" asp-controller="FuelCommands" asp-action="ViewAllFuelings" class="btn btn-outline-primary" style="background-color:gold" />
            </p>
        </form>
    </div>




<table class="table" id="table1" style="margin-top:50px; margin-bottom:50px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfFueling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfFueling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "FuelEdit", "FuelCommands", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Detail", "FuelDetails", "FuelCommands", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "FuelDelete", "FuelCommands", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row" style="font-size:large; color:chocolate; font-weight:bolder">
    <div class="element1 col-lg-3" id="val1">
    </div>
    <div class="element2 col-lg-3" id="val2">
    </div>
</div>




<script>
    var table = document.getElementById("table1"), sumVal1 = 0, sumVal2 = 0;

    for (var i = 1; i < table.rows.length; i++) {
        sumVal1 = sumVal1 + parseFloat(table.rows[i].cells[2].innerHTML);
        sumVal2 = sumVal2 + parseFloat(table.rows[i].cells[3].innerHTML);
    }
    document.getElementById("val1").innerHTML = "Qty Sum = " + sumVal1.toFixed(2);
    document.getElementById("val2").innerHTML = "Total Price Sum = " + sumVal2.toFixed(2);
</script>