﻿@model BasicLibrary.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h4 style="color:purple; margin-top:50px; font-weight:bold">Create a new Vehicle Record</h4>
<hr />
<div class="row"> 
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistrationNr" class="control-label"></label>
                <input asp-for="RegistrationNr" class="form-control" />
                <span asp-validation-for="RegistrationNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="control-label"></label>
                @Html.DropDownList("FuelType",
                    new SelectList(Enum.GetValues(typeof(FuelTypeEnum))),
                    "Select Fuel Type",
                    new { @class = "form-control" })
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" style="background-color:greenyellow" /> |
                @Html.ActionLink("Back to Vehicles", "ViewAllVehicles", "Vehicle", new { }, new { @class = "btn btn-outline-primary", @style = "background-color:greenyellow" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
