﻿@model BasicLibrary.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h4 style="color:purple; margin-top:50px; font-weight:bold">Are you sure you want to delete this record?</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-outline-primary" style="background-color:red" /> |
        @Html.ActionLink("Back to Vehicles", "ViewAllVehicles", "Vehicle", new { }, new { @class = "btn btn-outline-primary", @style = "background-color:greenyellow" })
    </form>
</div>
