﻿@model IEnumerable<BasicLibrary.Models.Vehicle>

@{
    ViewData["Title"] = "ViewAllVehicles";
}


   
    <div class="input-w" style="margin-top:40px">
        <form asp-controller="Vehicle" asp-action="ViewAllVehicles">
            <p>
                <input type="button" class="btn btn-outline-primary" style="background-color:orange; margin-right:20px;" value="Create New" onclick="location.href='@Url.Action("Create", "Vehicle")'" />
                Reg. No. <input type="text" name="SearchString">
                <input type="submit" value="Filter" asp-controller="Vehicle" asp-action="ViewAllVehicles" class="btn btn-outline-primary" style="background-color:gold" />
            </p>
        </form>
    </div>

<table class="table" style="margin-top:50px; margin-bottom:50px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Vehicle", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Detail", "Details", "Vehicle", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", "Vehicle", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
